Repository margusmuru/homelab-grafana: changes, and which GitLab CI jobs are due for each by the changed paths.
All: grafana-monitoring-vm-1, grafana-dev-2-vm-1

grafana-monitoring-vm-1:
  trigger:
    include:
    - local: deployments/monitoring-vm-1/.gitlab-ci.yml

grafana-dev-2-vm-1:
  trigger:
    include:
    - local: deployments/dev-2-vm-1/.gitlab-ci.yml

aasd
  deployments/dev-2-vm-1/docker-compose.yaml
Due: grafana-dev-2-vm-1

fixed typo
  deployments/dev-2-vm-1/.gitlab-ci.yml
  deployments/monitoring-vm-1/.gitlab-ci.yml
Due: grafana-monitoring-vm-1, grafana-dev-2-vm-1

added strategy: mirror
  .gitlab-ci.yml
Due: none

readme fix
  .attachments/grafana-banner.png
  .attachments/grafana-icon.png
  .attachments/jackett-banner.png
  .attachments/jackett-icon.png
  README.md
Due: none

pipeline fix
  deployments/dev-2-vm-1/.gitlab-ci.yml
Due: grafana-dev-2-vm-1

container name change
  deployments/dev-2-vm-1/docker-compose.yaml
Due: grafana-dev-2-vm-1

Update docker.io/grafana/grafana-oss Docker tag to v12.3.1
  deployments/dev-2-vm-1/docker-compose.yaml
  deployments/monitoring-vm-1/docker-compose.yaml
Due: grafana-monitoring-vm-1, grafana-dev-2-vm-1

added dev-1-vm grafana instance
  .gitlab-ci.yml
  README.md
  deployments/dev-1-vm-1 /.gitlab-ci.yml
  deployments/dev-1-vm-1 /docker-compose.yaml
Due: none

asd
  deployments/dev-1-vm-1/.gitlab-ci.yml
  deployments/dev-1-vm-1/docker-compose.yaml
Due: none

Update docker.io/grafana/grafana-oss Docker tag to v12.3.2
  deployments/dev-1-vm-1/docker-compose.yaml
  deployments/dev-2-vm-1/docker-compose.yaml
  deployments/monitoring-vm-1/docker-compose.yaml
Due: grafana-monitoring-vm-1, grafana-dev-2-vm-1

Update docker.io/grafana/grafana-oss Docker tag to v12.3.3
  deployments/dev-1-vm-1/docker-compose.yaml
  deployments/dev-2-vm-1/docker-compose.yaml
  deployments/monitoring-vm-1/docker-compose.yaml
Due: grafana-monitoring-vm-1, grafana-dev-2-vm-1

Update docker.io/grafana/grafana-oss Docker tag to v12.4.0
  deployments/dev-1-vm-1/docker-compose.yaml
  deployments/dev-2-vm-1/docker-compose.yaml
  deployments/monitoring-vm-1/docker-compose.yaml
Due: grafana-monitoring-vm-1, grafana-dev-2-vm-1

Update docker.io/grafana/grafana-oss Docker tag to v12.4.2
  deployments/dev-1-vm-1/docker-compose.yaml
  deployments/dev-2-vm-1/docker-compose.yaml
  deployments/monitoring-vm-1/docker-compose.yaml
Due: grafana-monitoring-vm-1, grafana-dev-2-vm-1

Update docker.io/grafana/grafana-oss Docker tag to v13
  deployments/dev-1-vm-1/docker-compose.yaml
  deployments/dev-2-vm-1/docker-compose.yaml
  deployments/monitoring-vm-1/docker-compose.yaml
Due: grafana-monitoring-vm-1, grafana-dev-2-vm-1

Update docker.io/grafana/grafana-oss Docker tag to v13.0.1
  deployments/dev-1-vm-1/docker-compose.yaml
  deployments/dev-2-vm-1/docker-compose.yaml
  deployments/monitoring-vm-1/docker-compose.yaml
Due: grafana-monitoring-vm-1, grafana-dev-2-vm-1

Update docker.io/grafana/grafana-oss Docker tag to v13.0.2
  deployments/dev-1-vm-1/docker-compose.yaml
  deployments/dev-2-vm-1/docker-compose.yaml
  deployments/monitoring-vm-1/docker-compose.yaml
Due: grafana-monitoring-vm-1, grafana-dev-2-vm-1

removed obsolete VM
  deployments/monitoring-vm-1/.gitlab-ci.yml
  deployments/monitoring-vm-1/docker-compose.yaml
Due: grafana-monitoring-vm-1

fixed deployment
  .gitlab-ci.yml
Due: none

asd
  .gitlab-ci.yml
Due: none

pipeline rework
  .gitignore
  .gitlab-ci.yml
  deployments/dev-1-vm-1/.gitlab-ci.yml
  deployments/dev-1-vm-1/docker-compose.yaml
  deployments/dev-1/docker-compose.yaml
  deployments/dev-2-vm-1/.gitlab-ci.yml
  deployments/dev-2/docker-compose.yaml
  deployments/monitoring-vm-1/.gitlab-ci.yml
Due: grafana-monitoring-vm-1, grafana-dev-2-vm-1

Path conditions:
  grafana-monitoring-vm-1: any of: deployments/monitoring-vm-1/**/*
  grafana-dev-2-vm-1: any of: deployments/dev-2-vm-1/**/*
